header {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.header__img {
  width: 70px;
}

header div {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 68%;
}

header input {
  background-color: rgb(37, 37, 37);
  border: none;
  border-radius: 20px;
  padding: 10.5px 5px 10.5px 0px;
  width: 500px;
}

header input:focus {
  border: 1px solid #313645;
  border-radius: 19px;
  outline: none;
}

.div__img {
  position: absolute;
  right: 424px;
  top: 19px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 29em;
  justify-content: center;
  width: auto;
}

.video-selecao {
  align-items: center;
  border: 1px dashed;
  border-color: #ff9000;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  height: 167px;
  justify-content: space-evenly;
  width: 265px;
}

main div img {
  width: 50px;
}

.hide {
  display: none !important;
}

main div label {
  background-color: #7e5421;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
  padding: 4px 6px;
  white-space: nowrap;
}

main div label:hover {
  border-radius: 4px;
  padding: 4.8px 6.8px;
}

.div__video-dados {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.div__video-dados div {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

.div__video-dados h1 {
  border-radius: 1.8px;
  font-size: 20px;
  font-weight: 400;
  margin: 8px 8px;
  padding: 4px 3px;
  text-align: center;
}

.div__video-dados span {
  border-radius: 1.8px;
  font-size: 16px;
  font-weight: 400;
  margin: 8px 8px;
  padding: 4px 3px;
}

.rodape {
  align-items: flex-start;
  background: #181818;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-evenly;
  width: 100%;
}

.rodape .logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px 0px 18px 0px;
  width: 100%;
}

.logo img {
  width: 85px;
}

.informacoes-adicionais {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.rodape h2 {
  color: #fff;
  font-size: 19px;
  margin-bottom: 1em;
  width: auto;
}

.rodape ul {
  font-size: 16px;
  height: auto;
  width: auto;
}

.rodape li {
  color: #fff;
  padding: 8px;
}

.rodape .desenvolvedor {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 15px 0px;
  width: 100%;
}

.desenvolvedor h3 {
  color: #fff;
  font-size: 16.5px;
}

@media screen and (max-width: 480px) {
  
  header div {
    width: 70px;
  }

  img {
    width: 30px;
  }

  .a__img  {
    width: 45px;
  }

  .header__img {
    width: 50px;
  }

  header input {
    width: 100%;
    padding: 5px;
  }

  .rodape {
    align-items: center;
    flex-direction: column;
  }

  .informacoes-adicionais {
    align-items: flex-start;
    margin-bottom: 2em;
    width: 80%;
  }

  .rodape ul {
    margin-left: 20px;
  }

  .desenvolvedor h3 {
    width: 85%;
  }
}

@media screen and (max-width: 768px) {
  
  header div {
    width: 50%;
  }

  header input {
    width: 100%;
    padding: 5px;
  }

  .div__img {
    position: absolute;
    right: 150px;
    top: 19px;
  }

  .rodape {
    align-items: center;
    flex-direction: column;
  }

  .informacoes-adicionais {
    align-items: flex-start;
    margin-bottom: 2em;
    width: 80%;
  }
}