header {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.header__img {
  width: 70px;
}

header div {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 68%;
}

header input {
  background-color: rgb(37, 37, 37);
  border: none;
  border-radius: 20px;
  padding: 10.5px 5px 10.5px 0px;
  width: 500px;
}

header input:focus {
  border: 1px solid #313645;
  border-radius: 19px;
  outline: none;
}

.div__img {
  position: absolute;
  right: 424px;
  top: 19px;
}

.menu-filtros {
  align-items: center;
  display: flex;
  margin-top: 1.5em;
  width: 100%;
}

main ul {
  align-items: center;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  margin-left: 1em;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 95%;
  width: 95%;
}

main ul::-webkit-scrollbar {
  visibility: hidden;
}

main li {
  background-color: #242629;
  border: none;
  border-radius: 17px;
  color: #fff;
  cursor: pointer;
  flex: none;
  margin-right: 1.2em;
  padding: 13px 25px;
  scroll-snap-align: start;
  width: auto;
}

.ul__primeiro {
  background-color: #292b2f;
  border: 1px solid #393943;
  border-radius: 16px;
  padding: 13.5px 26px;
}

main li:hover {
  background-color: #292b2f;
  border: 1px solid #393943;
  border-radius: 16px;
  padding: 13.5px 26px;
}

main li:active {
  border-radius: 17.5px;
  padding: 12.5px 24.5px;
}

.videos {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4em;
}

.videos__div {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 10px 10px;
  margin-top: 1.5em;
  width: 322px;
}

.videos__div__informacoes {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: flex-end;
  margin-top: 1.5em;
  width: auto;
}

.videos__div__informacoes img {
  width: 100%;
}

.videos__div__informacoes h1 {
  background-color: #1b1b1bcc;
  border-radius: 1.8px;
  font-family: "Arial-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
  margin: 8px 8px;
  padding: 4px 3px;
  position: absolute;
  text-align: center;
  z-index: 0;
}

.videos__div__adicionais {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.videos__div__adicionais div {
  align-items: center;
  display: flex;
  margin-top: 0.4em;
}

.videos__div__adicionais h2 {
  font-family: "Arial-Regular", Helvetica;
  font-size: 13px;
  font-weight: 400;
}

.videos__div__adicionais img {
  margin-left: 0.2em;
}

.videos__div__adicionais p {
  font-family: "Arial-Regular", Helvetica;
  font-size: 12px;
  font-weight: 400;
  margin-left: 0.2em;
}

.adicionais__titulo-menu {
  align-items: center;
  display: flex;
  height: 45px;
  justify-content: space-between;
}

.adicionais__titulo-menu p {
  font-family: "Arial-Regular", Helvetica;
  font-size: 15px;
  font-weight: 400;
  width: 91%;
}

.adicionais__titulo-menu img {
  margin-top: 1.0em;
}

.rodape {
  align-items: flex-start;
  background: #181818;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-evenly;
  width: 100%;
}

.rodape .logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 10px 0px 18px 0px;
  width: 100%;
}

.logo img {
  width: 85px;
}

.informacoes-adicionais {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.rodape h2 {
  color: #fff;
  font-size: 19px;
  margin-bottom: 1em;
  width: auto;
}

.rodape ul {
  font-size: 16px;
  height: auto;
  width: auto;
}

.rodape li {
  color: #fff;
  padding: 8px;
}

.rodape .desenvolvedor {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 15px 0px;
  width: 100%;
}

.desenvolvedor h3 {
  color: #fff;
  font-size: 16.5px;
}

@media screen and (max-width: 480px) {
  header div {
    width: 70px;
  }

  .a__img {
    width: 45px;
  }

  .header__img {
    width: 50px;
  }

  header div {
    width: auto;
  }

  header input {
    padding: 5px;
    width: 80px;
  }

  .div__img {
    width: 18px;
  }

  .rodape {
    align-items: center;
    flex-direction: column;
  }

  .informacoes-adicionais {
    align-items: flex-start;
    margin-bottom: 2em;
    width: 80%;
  }

  .rodape ul {
    margin-left: 20px;
  }

  .desenvolvedor h3 {
    width: 85%;
  }
}

@media screen and (max-width: 570px) {
  header input {
    width: 200px;
  }

  .div__img {
    right: 170px;
  }

  .ul__primeiro {
    margin-left: 88em;
  }
}

@media screen and (min-width: 571px) {
  header div {
    width: auto;
  }

  header input {
    width: 300px;
  }

  .ul__primeiro {
    margin-left: 78em;
  }
}

@media screen and (min-width: 769px) {
  .ul__primeiro {
    margin-left: 80em;
  }
}